- flash.each do |type, message|
  %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
    %button.close{"data-dismiss" => "alert"} ×
    = message

/ <% flash.each do |type, message| %>
/   <div class="alert <%= bootstrap_class_for(type) %> fade in">
/     <button class="close" data-dismiss="alert">×</button>
/     <%= message %>
/   </div>
/ <% end %>